<p style="direction: rtl;"><span style="color: #000000;">שלומות!&nbsp;</span></p>
<p style="direction: rtl;"><span style="color: #000000;">אני רונן, ואני מנגן במפוחית. </span></p>
<p style="direction: rtl;"><span style="color: #000000;">אני מאוד אוהב את שירי רחל, וכבר תקופה רציתי שתהיה לי דרך נוחה לקרוא אותם, לחפש בהם, לסמן אותם וכמובן - להתרגש מהם. בסוף מצאתי את הזמן ללמוד איך ואז לכתוב את האפליקציה שלפניכם, ושאני מקווה שתהנו ממנה.&nbsp;</span></p>
<p style="direction: rtl;">את השירים אספתי מפרוייקט בן יהודה:&nbsp;<a href="http://benyehuda.org/">http://benyehuda.org/</a>, כאשר זכויות היוצרים על השירים כבר פגו. תודה לכם שאתם.&nbsp;</p>
<p style="direction: rtl;">אני מודע לכך שכרגע האפליקציה לוקה בחסר בכמה אלמנטים, ובעיקר בעיצוב. למשל: אני רוצה שיהיה אפשר לבחור פונט (ספציפית - שהדיפולט יהיה פרנק-רוהל.) ושהצבעים והרקעים יהיו עם קצת יותר ריח של ספר שירה. לכשאפנה אשתדל לגמר.&nbsp;</p>
<p style="direction: rtl;">אם מצאת בעיה באפליקציה, יש לך רעיונות יצירתיים לגביה, רצון לתרום לה בדרך כלשהי, פרשנות מעניינת לאחד השירים, רעיון משוגע לאיך להרוויח מליונים,&nbsp;רצון לטייל ולהנות ולהכיר אנשים חדשים, או דברים אחרים - המייל שלי הוא: <a href="mailto:ronen.shekel@gmail.com">ronen.shekel@gmail.com</a>.&nbsp;</p>
<p style="direction: rtl;">בברכת אושר שלו,&nbsp;</p>
<p style="direction: rtl;">רונן.&nbsp;</p>